.example-card {
  max-width: 400px;
  margin:10px;
}

.example-header-image {
  background-image: url('http://api.openweathermap.org/img/w/03n.png');
  background-size: cover;
  
}

.container img {
  width: 40%;
  height: auto;
  margin:70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}